<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}HEX{% endblock title %}</title>
</head>

<body>
    <header>
        {% block navbar %}
        <div>
            <img class="logo" src="{% static "images/Hex_outline.svg" %}" width=100>
            <h1 class="title">HEX</h1>
        </div>
        {% endblock navbar %}
        {% block extra_navbar %}
        {% endblock extra_navbar %}
    </header>

    <main>
        {% block body %}{% endblock body %}
    </main>
</body>
</html>