{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="staff-card-grid">
<section class="card">
	<p>
		<img class="logo" src="{% static "images/image.png" %}" width="500" height="500">
		Brajkovich Eiserman Kriener<br>
		<strong>CEO</strong>
	</p>
</section>

{% for account in staff_accounts %}
<section class="card">
	<p>
		<img class="logo" src="{{ account.profile.headshot.url }}" width="500" height="500">
		{{account.first_name}} {{account.last_name}}
		<strong>{{account.profile.job_title}}</strong>
	</p>
</section>
{% endfor %}

<section class="card">
	<p>
		<img class="logo" src="{% static "images/image.png" %}" >
		Test Mc Testman
		<strong>Potato Man</strong>
	</p>
</section>
</div>
{% endblock body %}